{% extends 'base.html' %}
{% load static %} 
{% block content %}
<div class="container">
    <div class="hero my-3">
        <div class="hero-title">
            <h2 class="title-2">CONTACT 📞</h2>
            <p>There best way to contact us would be through our <a class="link" href="https://www.facebook.com/westsidevolleyballclub">facebook page</a></p>
            <p>Or you can chuck us an <a class="link" href="mailto:westsidevolley@gmail.com?Subject=Website%20Email">email!</a></p>
        </div>
        <div class="hero-img"><img src="{% static 'website/img/temp-img.png' %}" alt=""></div>
    </div>
</div>
{% endblock %}